-r requirements.txt
-e .

marshmallow-sqlalchemy  >= 0.8.0
marshmallow-peewee      >= 2.0.0
peewee                  >= 3.7.1
mongomock==3.8.0
pymongo==3.4.0

ipdb                    == 0.10.3
pytest                  == 3.2.0
pytest-flask            == 0.10.0
pytest-sugar            == 0.8.0
