-r requirements.txt
-e .

marshmallow-sqlalchemy  >= 0.8.0
marshmallow-peewee      >= 1.0.4
peewee                  >= 2.8.2
mongomock==3.8.0
pymongo==3.4.0

ipdb==0.10.2
pytest==3.0.6
pytest-flask            == 0.10.0
pytest-sugar==0.8.0